<h1>car List</h1>
<p>Please select any car from below brands to add in your list</p>
<div class="form-label">Car Name: </div><input type="text" #carName placeholder="Car Name"><br>
<div class="form-label">Car Owner Name: </div><input type="text" #carOwner placeholder="Owner Name"><br>
<div class="form-label">Engine CC: </div><input type="number" #EngineCC placeholder="Engine Cubic Capacity"><br>
<div class="form-label">Car Brand: </div><select #carBrand>
    <option *ngFor="let brand of carBrandList" [value]="brand">{{brand}}</option>
</select><br>
<div class="form-label">Car Color: </div><select #carColor>
    <option value="blue">Blue</option>
    <option value="red">Red</option>
    <option value="silver">Sliver</option>
</select><br>
<div class="form-label"> </div><button
    (click)="addCustomCar(carName.value,carBrand.value,carColor.value, carOwner.value, EngineCC.value)">Add Car</button>
<!-- <button (click)="addCar('Honda',carColor.value, carOwner.value)">Honda</button>
<button (click)="addCar('MS',carColor.value, carOwner.value)">Maruti Suzuki</button>
<button (click)="addCar('Hyundai',carColor.value, carOwner.value)">Hyundai</button>
<button (click)="addCar('Ford',carColor.value, carOwner.value)">Ford</button>
<button (click)="addCar('Jeep',carColor.value, carOwner.value)">Jeep</button>
<button (click)="addCar('BMW',carColor.value, carOwner.value)">BMW</button>
<button (click)="addCar('Tata',carColor.value, carOwner.value)">Tata Motors</button> -->
<br>
<!-- <button (click)="isCarVisible = !isCarVisible">{{isCarVisible? 'Hide' : 'Show'}} Cars</button> -->

<div class="stock-car" *ngIf="stockCarList.length > 0">
    <h2>Stock Car List <button (click)="switchCar('production', 0)">Send to Production</button></h2>
    <ul>
        <li *ngFor="let car of stockCarList; let i = index" title="Send to Production" (click)="switchCar('production', i)">
            <h3><b><u>({{i + 1}})</u> {{car.name}}</b> (<small>{{car.brand}}</small>)</h3>
            <p>Number of Cylinder: {{car.noOfCylinder}} Cylinder</p>
            <p>Fuel Type: {{car.fuelType}}</p>
            <p>Engine Cubic Capacity: {{car.engineCubicCapacity}} cc</p>
            <p [ngStyle]="{'color': car.color}">Color: {{car.color}}</p>
            <p>Owner: {{car.owner}}</p>
            <!-- <button (click)="removeCar(i)">Remove This Car</button> -->
        </li>
    </ul>
</div>
<div class="production-car" *ngIf="productionCarList.length > 0">
    <h2>Production Car List <button (click)="switchCar('stock', 0)">Send to Stock</button></h2>
    <ul>
        <li *ngFor="let car of productionCarList; let i = index" title="Send to Stock" (click)="switchCar('stock', i)">
            <h3><b><ul>({{i + 1}})</ul> {{car.name}}</b> (<small>{{car.brand}}</small>)</h3>
            <p>Number of Cylinder: {{car.noOfCylinder}} Cylinder</p>
            <p>Fuel Type: {{car.fuelType}}</p>
            <p>Engine Cubic Capacity: {{car.engineCubicCapacity}} cc</p>
            <p [ngStyle]="{'color': car.color}">Color: {{car.color}}</p>
            <p>Owner: {{car.owner}}</p>
            <!-- <button (click)="removeCar(i)">Remove This Car</button> -->
        </li>
    </ul>
</div>