<!-- <h2>{{hero.title | uppercase}} Details</h2>
<p><b>Id: </b>{{hero.id}}</p>
<p>
    <b>First Name: </b>
    <input [(ngModel)]="hero.firstName" placeholder="First Name"/>
    <em> {{hero.firstName}}</em>
</p>
<p>
    <b>Last Name: </b>
    <input [(ngModel)]="hero.lastName" placeholder="Last Name"/>
    <em> {{hero.lastName}}</em>
</p> -->
<h1>
    Heroes
    <button class="nav-button" (click)="navigateTo('car')">View Car</button>
    <button class="nav-button" (click)="navigateTo('house')">View House</button>
</h1>
<hr>
<p>{{heroInjector}}</p>