<ul>
    <li *ngFor="let car of carList; let i = index" title="Send to {{carSendTo | titlecase}}" (click)="switchCar(carSendTo, i)">
        <h3><b><ul>({{i + 1}})</ul> {{car.name}}</b> (<small>{{car.brand}}</small>)</h3>
        <p>Number of Cylinder: {{car.noOfCylinder}} Cylinder</p>
        <p>Fuel Type: {{car.fuelType}}</p>
        <p>Engine Cubic Capacity: {{car.engineCubicCapacity}} cc</p>
        <p [ngStyle]="{'color': car.color}">Color: {{car.color}}</p>
        <p>Owner: {{car.owner}}</p>
        <!-- <button (click)="removeCar(i)">Remove This Car</button> -->
    </li>
</ul>

