<div class="app-header">
    <h3 class="app-title">
        <span>Super 6</span>
    </h3>
    <ul class="app-menu">
        <li>
            <a routerLink="/car">Car</a>
        </li>
        <li>
            <a routerLink="/heroes">Heroes</a>
        </li>
        <li>
            <a routerLink="/house">House</a>
        </li>
        <li>
            <a routerLink="/admin">Admin</a>
        </li>
        <li>
            <a routerLink="/user">User</a>
        </li>
    </ul>
</div>
<div class="app-body">
    <router-outlet></router-outlet>
</div>

<!-- <hr>
<h3>Admin Module</h3>
<app-admin></app-admin>

<hr>
<h3>User Module</h3>
<app-user></app-user> -->