input, select {
    height: 30px;
    line-height: 30px;
    padding: 0px 5px;
    margin: 5px 10px;
}

.form-label {
    line-height: 30px;
    padding: 0px 5px;
    margin: 5px 0px;
    width: 150px;
    display: inline-block;
}

h2 {
    margin: 15px 5px 5px 10px;
    text-align: left;
}

h2 button {
    float: right;
    margin: 0px 10px;
    height: 25px;
    line-height: 25px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

ul li h3 {
    margin: 5px 0px
}

ul li p {
    margin: 0 0 5px 0px
}

.car-list {
    display: inline-block;
    width: 100%;
}

.stock-car {
    width: 30%;
    display: inherit;
    margin-right: 1.5%;
    vertical-align: top;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #ddd;
    box-sizing: border-box;
}

.stock-car ul li {
    display: inline-block;
    width: 260px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(16, 0, 255, 0.10)
}

.stock-car ul li:hover {
    box-shadow: 0px 0px 10px rgba(16, 0, 255, 0.25);
    cursor: move;
}

.production-car {
    width: 30%;
    margin: 0% 1.5%;
    display: inherit;
    vertical-align: top;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #ddd;
    box-sizing: border-box;
}

.production-car ul li {
    display: inline-block;
    width: 260px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.10)
}

.production-car ul li:hover {
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.25);
    cursor: move;
}

.sold-car {
    width: 30%;
    display: inherit;
    margin-left: 1.5%;
    vertical-align: top;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #ddd;
    box-sizing: border-box;
}

.sold-car ul li {
    display: inline-block;
    width: 260px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.10)
}

.sold-car ul li:hover {
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.25);
    cursor: move;
}